<!DOCTYPE html>
<% include ../partials/_header.ejs %>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Narrow Jumbotron Template for Bootstrap</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
  <!-- Bootstrap core CSS -->
  <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Font Awesome Style Sheet for Hover Over Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="jumbotron-narrow.css" type="text/css" />

  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script> -->
  <!--Eonasdan/bootstrap-datetimepicker requirements-->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<form action="/events/new" method="post" call="form-inline">
  <div class="panel-heading panel-success">
    <!-- <div class="panel-heading">Your Event</div> -->
    <input type="text" class="form-control input-lg" placeholder="Event Title" name="title">
  </div>
  <!-- <div class="form-group">
    <label for="usr">Name</label>
    <input type="text" class="form-control" name="name">
  </div> -->
  <div class="form-group col-xs-4">
    <label for="first-name">First Name</label>
    <input type="text" class="form-control" name="firstName">
  </div>
  <div class="form-group col-xs-4">
    <label for="last-name">Last Name</label>
    <input type="text" class="form-control" name="lastName">
  </div>
  <div class="form-group col-xs-4">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" rows="5" name="description"></textarea>
  </div>
  <!-- <div class="form-group">
    <label for="date">Date</label>
    <input type="text" class="form-control" name="date">
  </div> -->
  <div class="input-group date datepicker col-xs-4" data-provide="datepicker">
      <input type="text" class="form-control" name="date" placeholder="Date">
      <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
      </div>
  </div>
  <div class="input-group clockpicker col-xs-4" data-placement="bottom" data-align="top">
    <input type="text" class="form-control" name="time1">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
  </div>
  <div class="input-group clockpicker col-xs-4" data-placement="bottom" data-align="top">
    <input type="text" class="form-control" name="time2">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
  </div>
  <div class="input-group clockpicker col-xs-4" data-placement="bottom" data-align="top">
    <input type="text" class="form-control" name="time3">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.datepicker').datepicker({
        autoclose: true,
        todayHighlight: true
      });
    })
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
        $('.clockpicker').clockpicker({
          twelvehour: true,
          autoclose: true
        });
      })
  </script>
</body>
</html>

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker8').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
    });
</script> -->
