<!DOCTYPE html>
<% include ../partials/_header.ejs %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="jumbotron-narrow.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

 <body>

<!-- The form to get the event details -->
<!-- <form action="/:uniqueURL" method="POST">
  <label for="date">Date</label>
    <input type="text" id="date" name="date">
  <label for="time1">Time1</label>
    <input type="text" id="time1" name="time1">
  <label for="time2">Time2</label>
    <input type="text" id="time2" name="time2">
  <label for="time3">Time3</label>
    <input type="text" id="time3" name="time3">
  <label for="create">Create!</label>
    <input type="submit" value="submit">
</form>

  <i class="fa fa-trash-o"></i> -->

  </body>

<!-- The event details page -->
<div id="details">
  <div class="date">
    November 24, 2016 Tuesday
  </div>
  <div id="time1">
    2:00 PM
  </div>
  <div id="time2">
    4:00 PM
  </div>
  <div id="time3">
    6:00 PM
  </div>
</div>

<div id="response">
  <table>

  <form action="/events/uniqueurl" method="POST">
    <tr><input type="checkbox">YES</tr>
    <tr><input type="checkbox">NO</tr>
    <tr><input type="submit" value="submit"></tr>
  </form>

  </table>
</div>

</html>
