body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 80%;
    }
}

#user-response {
  background-color: black;

  .time1 input {
    margin-left: 2em;
  }

  + .input + .input {
    margin-left: 2em;
  }

  + .input + .input + .input {
    margin-left: 2em;
  }
}

.time1 > input {
  margin-left: 2em;
}

.user-info {
  .first-name {

  }

  .last-name {

  }

  .user-email {

  }
}
