body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 80%;
    }
}

.details {
  .date {
    background-color: black;
    color: white;
  }

  .time1 {
    background-color: black;
    color: white;
  }

  .time2 {
    background-color: black;
    color: white;
  }

  .time3 {
    background-color: black;
    color: white;
  }
}
